<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2">
        <activity android:name=".activity.SecondActivity"></activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.ChapterDownloaded"/>
        <activity android:name=".activity.Comment" />
        <activity android:name=".activity.Download" />
        <activity android:name=".activity.Chapter"/>
        <activity android:name=".activity.ChapterList" />
        <activity android:name=".activity.Comic" />
        <activity android:name=".activity.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Service.ExecutableService"
            android:enabled="true"/>
    </application>

</manifest>